In [3]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from sklearn import metrics
from sklearn.model_selection import train_test_split
from pandas import Series
business=pd.read_json('../Data/yelp_academic_dataset_business.json', lines=True)

In [6]:

label=['Mexican',
'American (Traditional)',
'Italian',
'Chinese',
'American (New)',
'Japanese',       
'Seafood',        
'Mediterranean',  
'Asian Fusion',   
'Thai',          
'French',         
'Indian']
relevant_business=pd.DataFrame(columns = business.columns)
business_all=[]
count=0
print(type(business))
for index, row in business.iterrows():
    print(count)
    count=count+1
    
    if(row['categories']==None):
        continue
    if any(word in row['categories'] for word in label):
        print(type(row))
        relevant_business=relevant_business.append(row,ignore_index=True)
    if count==100:
        break
final_data=[]

<class 'pandas.core.frame.DataFrame'>
0
1
<class 'pandas.core.series.Series'>
2
<class 'pandas.core.series.Series'>
3
4
5
6
7
8
9
10
11
<class 'pandas.core.series.Series'>
12
13
<class 'pandas.core.series.Series'>
14
15
16
17
<class 'pandas.core.series.Series'>
18
19
20
21
22
23
24
25
<class 'pandas.core.series.Series'>
26
27
28
29
30
31
32
33
34
35
<class 'pandas.core.series.Series'>
36
37
38
39
40
41
42
43
44
45
<class 'pandas.core.series.Series'>
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
<class 'pandas.core.series.Series'>
74
75
76
77
<class 'pandas.core.series.Series'>
78
<class 'pandas.core.series.Series'>
79
80
<class 'pandas.core.series.Series'>
81
82
83
<class 'pandas.core.series.Series'>
84
85
86
87
88
89
90
91
92
<class 'pandas.core.series.Series'>
93
94
95
96
<class 'pandas.core.series.Series'>
97
98
99

In [5]:

print(relevant_business)

                         address  \
0           30 Eglinton Avenue W
1      10110 Johnston Rd, Ste 15
2        2450 E Indian School Rd
3                5981 Andrews Rd
4   1775 E Tropicana Ave, Ste 29
5          6055 E Lake Mead Blvd
6             6401 Morrison Blvd
7              2825 32 Avenue NE
8                  436 Market St
9           825 Commonwealth Ave
10    13843 N Tatum Blvd, Ste 15
11            529-17th Avenue SW
12       619 Mount Pleasant Road
13             10897 Rue du Pont
14           1614 Queen Street E

                                           attributes             business_id  \
0   {'RestaurantsReservations': 'True', 'GoodForMe...  QXAEGFB4oINsVuTFxEYKFQ
1   {'GoodForKids': 'True', 'NoiseLevel': 'u'avera...  gnKjwL_1w79qoiV3IC_xQQ
2   {'RestaurantsTakeOut': 'True', 'BusinessParkin...  1Dfx3zM-rW4n-31KeC8sJg
3   {'RestaurantsPriceRange2': '2', 'BusinessAccep...  fweCYi8FmbJXHCqLnwuk8w
4   {'OutdoorSeating': 'False', 'BusinessAcceptsCr...  PZ-LZzSlhSe9utkQYU8pFg
5   {'BikeParking': 'True', 'BusinessParking': '{'...  tstimHoMcYbkSC4eBA1wEg
6   {'Alcohol': 'u'full_bar'', 'BusinessAcceptsCre...  BvYU3jvGd0TJ7IyZdfiN2Q
7   {'BusinessParking': '{'garage': False, 'street...  e_EMySqP0uwlVZfd8mRaaQ
8   {'OutdoorSeating': 'False', 'HasTV': 'True', '...  v-scZMU6jhnmV955RSzGJw
9   {'GoodForMeal': '{'dessert': False, 'latenight...  KFbUQ-RR2UOV62Ep7WnXHw
10  {'Caters': 'True', 'GoodForKids': 'True', 'Noi...  44YFU284Z3KDEy25QyVoUw
11  {'WiFi': ''free'', 'GoodForDancing': 'False', ...  PkDghu4aan2_wxrhXjTEgg
12  {'RestaurantsPriceRange2': '2', 'HasTV': 'Fals...  RFbMVekR8lU9tPJ8sWrwHg
13  {'OutdoorSeating': 'True', 'WiFi': 'u'free'', ...  SWX0K1dpy4fcRq-ktZxmCg
14  {'RestaurantsGoodForGroups': 'True', 'Restaura...  NPHZkn1e-tSJAbo8Zm9rYw

                                           categories                city  \
0   Specialty Food, Restaurants, Dim Sum, Imported...         Mississauga
1                   Sushi Bars, Restaurants, Japanese           Charlotte
2   Restaurants, Breakfast & Brunch, Mexican, Taco...             Phoenix
3          Italian, Restaurants, Pizza, Chicken Wings  Mentor-on-the-Lake
4                                Restaurants, Italian           Las Vegas
5   Mexican, Restaurants, Patisserie/Cake Shop, Fo...           Las Vegas
6   Sandwiches, Italian, American (Traditional), A...           Charlotte
7                       Chinese, Dim Sum, Restaurants             Calgary
8                   Japanese, Sushi Bars, Restaurants          Pittsburgh
9                 American (Traditional), Restaurants        West Mifflin
10                               Chinese, Restaurants             Phoenix
11  Nightlife, Italian, Restaurants, Japanese, Lou...             Calgary
12                               Italian, Restaurants             Toronto
13  Landmarks & Historical Buildings, Mediterranea...            Montr√©al
14                      Tex-Mex, Mexican, Restaurants             Toronto

                                                hours is_open   latitude  \
0   {'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...       1  43.605499
1   {'Monday': '17:30-21:30', 'Wednesday': '17:30-...       1  35.092564
2   {'Monday': '7:0-0:0', 'Tuesday': '7:0-0:0', 'W...       1  33.495194
3   {'Monday': '10:0-0:0', 'Tuesday': '10:0-0:0', ...       1  41.708520
4                                                None       0  36.100016
5   {'Monday': '11:0-21:0', 'Tuesday': '10:0-21:0'...       1  36.195615
6   {'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...       0  35.156338
7                                                None       0  51.081162
8   {'Monday': '11:0-20:0', 'Tuesday': '11:0-20:0'...       1  40.441062
9   {'Wednesday': '11:0-0:0', 'Thursday': '11:0-0:...       1  40.376674
10  {'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...       1  33.613020
11  {'Tuesday': '14:0-23:0', 'Wednesday': '14:0-23...       0  51.037778
12                                               None       1  43.704229
13  {'Monday': '10:0-22:0', 'Tuesday': '10:0-22:0'...       0  45.574857
14  {'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'...       1  43.666181

     longitude                                 name postal_code review_count  \
0   -79.652289           Emerald Chinese Restaurant     L5R 3E7          128
1   -80.859132          Musashi Japanese Restaurant       28210          170
2  -112.028588                            Taco Bell       85016           18
3   -81.359556                        Marco's Pizza       44060           16
4  -115.128529           Carluccio's Tivoli Gardens       89119           40
5  -115.040529  Maria's Mexican Restaurant & Bakery       89156          184
6   -80.831878                    Manzetti's Tavern       28211           16
7  -113.993474                         Pearl Garden         T1Y            4
8   -80.002126                    No. 1 Sushi Sushi       15222          106
9   -79.882480                 Westwood Bar & Grill       15122            5
10 -111.977036         Nee House Chinese Restaurant       85032          269
11 -114.073351                             MiraKuru     T2S 0A9           16
12  -79.388230                             Tavolino     M4S 2M5           18
13  -73.661130                   Bistro des Moulins     H2B 2H3            3
14  -79.316468                     Burrito Bandidos     M4L 1G4           43

    stars state
0     2.5    ON
1     4.0    NC
2     3.0    AZ
3     4.0    OH
4     4.0    NV
5     4.5    NV
6     3.5    NC
7     2.0    AB
8     4.5    PA
9     3.0    PA
10    3.5    AZ
11    3.5    AB
12    4.0    ON
13    3.5    QC
14    3.5    ON